.notfoundpage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    a {
        color: red;

        &:hover {
            color: brown;
        }
    }
}